.header { 
    height: 100px;
    text-align: center;
    margin: auto;
}

.title { 
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    padding-top: 50px;
}