table { 
    width: 100%;
    height: 100%;
}

th { 
    border: 3px solid black;
}

.board { 
    padding: 0;
    margin: 0;
    flex: 0;
}

.options { 
    padding-left: 2.5%;
}

.gamepanel { 
    margin-right: 0;
}