<div>
    <div class="row gamepanel">
        <div class="col-md-3 col-sm-3 options">
            <table>
                <tr>
                    <th><button (click)="resetBoard()">Reset</button></th>
                </tr>
            </table>
        </div>
        <div class="col-md-6 col-sm-6">
            <app-board [board]="board"></app-board>
        </div>
        <div class="col-md-3 col-sm-3 logger">
            <table>
                <tr>
                    <th>test</th>
                </tr>
            </table>
        </div>
    </div>
</div>
