<div>
    <div class="row gamepanel">
        <div class="col-md-3 col-sm-3 options">
            <table>
                <tr>
                    <th><button (click)="resetBoard()">Reset</button></th>
                </tr>
            </table>
        </div>
        <div class="col-md-6 col-sm-6">
            <app-board (updateMoves)="onUpdateMoves()" [board]="board"></app-board>
        </div>
        <div class="col-md-3 col-sm-3 logger">
            <table>
                <tr>
                    <th><app-moves [moves]="moves"></app-moves></th>
                </tr>
            </table>
        </div>
    </div>
</div>
