<div>
    <table class="center">
        <tr>
            <th class="white">
                <div [ngClass]="{ circle: showCircle }">
                    <img class="piece" (click)="test()" src="assets/rook-black.png">
                </div>
            </th>
            <th class="black">
                <div [ngClass]="{ circle: showCircle }">
                    <img class="piece" src="assets/knight-black.png">
                </div>
            </th>
            <th class="white"><img class="piece" src="assets/bishop-black.png"></th>
            <th class="black"><img class="piece" src="assets/queen-black.png"></th>
            <th class="white"><img class="piece" src="assets/king-black.png"></th>
            <th class="black"><img class="piece" src="assets/bishop-black.png"></th>
            <th class="white"><img class="piece" src="assets/knight-black.png"></th>
            <th class="black"><img class="piece" src="assets/rook-black.png"></th>
        </tr>
        <tr>
            <th class="black"><img class="piece" src="assets/pawn-black.png"></th>
            <th class="white"><img class="piece" src="assets/pawn-black.png"></th>
            <th class="black"><img class="piece" src="assets/pawn-black.png"></th>
            <th class="white"><img class="piece" src="assets/pawn-black.png"></th>
            <th class="black"><img class="piece" src="assets/pawn-black.png"></th>
            <th class="white"><img class="piece" src="assets/pawn-black.png"></th>
            <th class="black"><img class="piece" src="assets/pawn-black.png"></th>
            <th class="white"><img class="piece" src="assets/pawn-black.png"></th>
        </tr>
        <tr>
            <th class="white">a6</th>
            <th class="black">b6</th>
            <th class="white">c6</th>
            <th class="black">d6</th>
            <th class="white">e6</th>
            <th class="black">f6</th>
            <th class="white">g6</th>
            <th class="black">h6</th>
        </tr>
        <tr>
            <th class="black">a5</th>
            <th class="white">b5</th>
            <th class="black">c5</th>
            <th class="white">d5</th>
            <th class="black">e5</th>
            <th class="white">f5</th>
            <th class="black">g5</th>
            <th class="white">h5</th>
        </tr>
        <tr>
            <th class="white">a4</th>
            <th class="black">b4</th>
            <th class="white">c4</th>
            <th class="black">d4</th>
            <th class="white">e4</th>
            <th class="black">f4</th>
            <th class="white">g4</th>
            <th class="black">h4</th>
        </tr>
        <tr>
            <th class="black">a3</th>
            <th class="white">b3</th>
            <th class="black">c3</th>
            <th class="white">d3</th>
            <th class="black">e3</th>
            <th class="white">f3</th>
            <th class="black">g3</th>
            <th class="white">h3</th>
        </tr>
        <tr>
            <th class="white"><img class="piece" src="assets/pawn-white.png"></th>
            <th class="black"><img class="piece" src="assets/pawn-white.png"></th>
            <th class="white"><img class="piece" src="assets/pawn-white.png"></th>
            <th class="black"><img class="piece" src="assets/pawn-white.png"></th>
            <th class="white"><img class="piece" src="assets/pawn-white.png"></th>
            <th class="black"><img class="piece" src="assets/pawn-white.png"></th>
            <th class="white"><img class="piece" src="assets/pawn-white.png"></th>
            <th class="black"><img class="piece" src="assets/pawn-white.png"></th>
        </tr>
        <tr>
            <th class="black"><img class="piece" src="assets/rook-white.png"></th>
            <th class="white"><img class="piece" src="assets/knight-white.png"></th>
            <th class="black"><img class="piece" src="assets/bishop-white.png"></th>
            <th class="white"><img class="piece" src="assets/queen-white.png"></th>
            <th class="black"><img class="piece" src="assets/king-white.png"></th>
            <th class="white"><img class="piece" src="assets/bishop-white.png"></th>
            <th class="black"><img class="piece" src="assets/knight-white.png"></th>
            <th class="white"><img class="piece" src="assets/rook-white.png"></th>
        </tr>
    </table>
</div>